<h3 class="first">Lista kategorii</h3>

<div *ngIf="user">
    <h3>
    <span [ngSwitch]="user.usr_id">
        <span *ngSwitchCase="0">Dodawanie</span>
        <span *ngSwitchDefault>Edycja</span>
    </span>

        users <i>{{user.usr_name}} #{{user.usr_status}}</i></h3>


    <div class="form-group">
        <label for="usr_name">user name</label>
        <input type="text" class="form-control" id="usr_name" placeholder="Name" [(ngModel)]="user.usr_name">
    </div>
    <div class="form-group">
        <label for="usr_slug">Slug name</label>
        <input type="text" class="form-control" id="usr_slug" placeholder="Name" [(ngModel)]="user.usr_slug">
    </div>
    <div class="form-group">
        <label for="usr_email">Email name</label>
        <input type="text" class="form-control" id="usr_email" placeholder="Email" [(ngModel)]="user.usr_email">
    </div>

    <div class="form-group">
        <label for="usr_status">user status</label>
        <select [(ngModel)]="user.usr_status" id="usr_status" name class="form-control">
            <option *ngFor="let status of statusList" value="{{status.value}}">{{status.label}}</option>
        </select>
    </div>


    <button type="submit" (click)="saveUser(user)" class="btn btn-default">Save</button>

</div>