{% extends 'Api/view/layout.html.twig' %}

{% block body %}
    <ul>
        <li><a href="#articles">Page 1</a></li>
        <li><a href="#page2">Page 2</a></li>
    </ul>
    <div id="router-outlet">
             <input id="filter" type="text" value=""/>
           
    </div>

    <div id="list">
             Loading...
           
    </div>
    <div style="display: block;" id="hid_form" class="hid_form">
        <form id="edit">
            </form>
    </div>


{% endblock %}